body {
  color: #d0d0d0;
}
.awxb-component.awxb-component .block-title, .awxb-view.awxb-view .block-title {
    display: inline-block;
    margin: 0 0 0 0;
    background: #002041;
    color: #fff;
    padding: .1875rem 2.5rem .25rem .3125rem;
    border: 0;
    font-weight: 500;
    text-transform: uppercase;
}
.awxb-component.awxb-component .awxb-local.awxb-local .outlook, .awxb-view.awxb-view .awxb-local.awxb-local .outlook {
    font-size: 1.2em;
}